*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html *{
    font-family: 'Ubuntu', sans-serif;
}
/*en üstteki logolar için*/
.container .box .toplogos #logo1{
    position: absolute;
    top: 30px;
    left: 200px;
    width: 80px;
    height: 80px;
    display: flex;/*trailer in içine bunla alabildim*/
}
.container .box .toplogos #logo2{
    position: absolute;/*trailer in içine bunla alabildim*/
    top: 30px;
    left: 100px;
    width: 75px;
    height: 75px;
    display: flex;/*trailer in içine bunla alabildim*/
}

/*Baştaki trailer için*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

.container .box{
    position: relative;
    height: 100vh;
    width: 100%;
}
.container .box video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/*üst menu için*/
.container .navbar,.toplogos {
    /*manu çubuğunun transparan olması için*/
    background-color: rgba(0, 0, 0, .2);
    display: inline;
    width: 100%;
    height: 120px;
}
.container .box .navbar,.toplogos{
    /*menu yukarda sabit kalsın diye*/
    position: fixed;
    top: 0;
}
.container .box .navbar a{
    text-decoration: none;
    font-style: bold;
    color: #fff;
}
.container .box .navbar >ul{
    display: flex;
    position: absolute;
    float: right;
    margin-right: 50px;
}
.container .box .navbar >ul >li:nth-child(1){
    margin-left: 350px;
}
.container .box .navbar >ul >li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
    /*line-height: 140px;*/
    margin-top: 60px;
}
.container .box .navbar >ul >li:hover{
    position: sticky;
    background:rgb(136, 23, 23);
    border-radius: 3px;
}
.container .box .navbar ul li img{
    position: sticky;
    width: 20px;
    height: 16px;
}
/*Açılır Menu*/
.container .box .navbar .opensmenu{
    display: none;
}
.container .box .navbar ul li:hover .opensmenu{
    display: block;
    position: absolute;
    background: rgb(241, 238, 238);
    top: 83px;
    width: 300px;
}
.container .box .navbar ul li:hover .opensmenu ul{
    display: inline;
    list-style: none;
}
.container .box .navbar ul li:hover .opensmenu ul >li >a{
    display:inline;
    text-align: left;
    padding-left: 15px;
    line-height: 40px;
    color: rgb(15, 13, 13);
}
.container .box .navbar ul li:hover .opensmenu ul li:last-child{
    border-bottom: none;
}
.container .box .navbar ul li:hover .opensmenu ul li a:hover{
    background: rgb(223, 220, 220);
}
/*Keşfet Kısmı*/
.menu .discover{
    padding-top: 20px;
    background-color:#A60501;
}
.menu .discover #heading{
    padding-left: 615px;
    color: honeydew;
}
.menu .discover .dis-img img:nth-child(1){
    margin-left: 250px;
}
.menu .discover .dis-img img{
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 25px;
    width: 200px;
    height: 180px;
    margin-bottom: -5px;
}
.menu .discover .dis-img #textimg{
    display: flex;
    padding-bottom: 20px;
    font-size: 18px;
}
.menu .discover .dis-img #textimg a:nth-child(1){
    text-decoration: none;
    margin-left: 275px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 38px;
    padding-left: 39px;
    border: 3.4px solid rgb(150, 148, 148);
    color: honeydew;
}
.menu .discover .dis-img #textimg a:nth-child(2){
    text-decoration: none;
    margin-left: 53px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 29px;
    padding-left: 29px;
    border: 3.4px solid rgb(150, 148, 148);
    color: honeydew;
}
.menu .discover .dis-img #textimg a:nth-child(3){
    text-decoration: none;
    margin-left: 53px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 48px;
    border: 3.4px solid rgb(150, 148, 148);
    color: honeydew; 
}
.menu .discover .dis-img #textimg a:nth-child(4){
    text-decoration: none;
    margin-left: 52px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 43px;
    padding-left: 46px;
    border: 3.4px solid rgb(150, 148, 148);
    color: honeydew; 
}
.menu .discover .dis-img #textimg a:nth-child(5){
    text-decoration: none;
    margin-left: 53px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 36px;
    border: 3.4px solid rgb(150, 148, 148);
    color: honeydew; 
}
.menu .discover .dis-img #textimg a:hover , a:active{
    color: black;
}
/*Haberler Kısmı*/
.menu >.newsandevents{
    background-color: black;
}
/*Haberlerin arka planı için*/
.newsandevents {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px,  transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px ) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient( #1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%,transparent 50%,transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    background-clip: content-box;
}
/* animasyon konumu için */
.menu >.newsandevents >.news{
    position: relative;
    width: 100%;
    height: 750px;
}
/*DİKİNE SLİDER İÇİN 1-ANİMASYON*/
.menu .newsandevents .news .new1,.new2,.new3,.new4{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    height: 150px;
    top: 40%;
    box-sizing: content-box;/*content idi*/
    animation: animate 15s linear infinite;
    animation-delay: calc(3s*var(--delay));
}
.menu .newsandevents:hover .news{
    animation-play-state: paused;
}
.menu .newsandevents .news:last-child{
    animation-delay: calc(-3s*var(--delay));
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
    45%, 60%{
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}
.menu .news>h4{
    color: #fc0606;
    padding-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    margin-bottom: 15px;
}
.menu .news .new1 #title1{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: white;
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 14px;
    padding-left: 50px;
    width: 300px;
    height: 70px;
    margin-top: -107px;
    margin-left: 190px;
}
.menu .news .new1 img{
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 100px;
    margin-top: 0px;
    margin-left: 80px;
    transition: transform .2s;
}
.menu .news .new1 #title1:hover,#title1:active{
    color: red;
    cursor: pointer;
}
.menu .news .new2 #title2{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: white;
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 14px;
    padding-left: 50px;
    width: 300px;
    height: 70px;
    margin-top: -107px;
    margin-left: 190px;
}
.menu .news .new2 img{
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 100px;
    margin-top: 0px;
    margin-left: 80px;
    transition: transform .2s;
}
.menu .news .new2 #title2:hover,#title2:active{
    color: red;
    cursor: pointer;
}
.menu .news .new3 #title3{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: white;
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 14px;
    padding-left: 50px;
    width: 300px;
    height: 70px;
    margin-top: -107px;
    margin-left: 190px;
}
.menu .news .new3 img{
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 100px;
    margin-top: 0px;
    margin-left: 80px;
    transition: transform .2s;
}
.menu .news .new3 #title3:hover,#title3:active{
    color: red;
    cursor: pointer;
}
.menu .news .new4 #title4{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: white;
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 14px;
    padding-left: 50px;
    width: 300px;
    height: 70px;
    margin-top: -107px;
    margin-left: 190px;
}
.menu .news .new4 img{
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 100px;
    margin-top: 0px;
    margin-left: 80px;
    transition: transform .2s;
}
.menu .news .new4 #title4:hover,#title4:active{
    color: red;
    cursor: pointer;
}
.menu .newsandevents .news #allnews{
    position: absolute;
    top: 91%;
}
.menu .newsandevents .news #allnews{
    color: #fc0606;
    margin-left: 370px;
    text-decoration: none; 
}
.menu .newsandevents .news #allnews:hover{
    cursor: pointer;
    color: white;
}
.menu .news .new1 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu .news .new2 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu .news .new3 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu .news .new4 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
/*DİKEY SLIDER DENEMESİ İÇİN CSS 2-KENARLIK*/
/* .controller{
    width: 1px;
    height: 350px;
    display: block;
    background: #9c9a9a;
    transform: translateY(-50%);
    margin-left: 600px;
    margin-top: -350px;
}

#line1,#line2,#line3,#line4{
    display: table-caption;
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translate(-50%);
}
#active{
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    transition: 0.5s;
} */
/*Etkinlikler Kısmı*/
.menu .events>h4{
    display: table-caption;
    color: #e5f5ab;
    padding-top: 40px;
    padding-left: 60px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 800px;
    margin-top: -768px;
}
.menu .events .event1 img{
    display: table-caption;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 70px;
    margin-left: 840px;
    margin-top: -690px;
    transition: transform .2s;
}
.menu .events .event1 #eventtitle1{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: rgb(196, 184, 184);
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 28px;
    padding-left: 45px;
    padding-bottom: 16px;
    width: 200px;
    height: 80px;
    margin-top: -20px;
    margin-left: 840px;
}
.menu .events .event1 #time1{
    text-align: center;
    display: inline;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 50px;
    margin-left: 890px;
    padding: 5px;
    background-color: white;
    border-bottom: 6px solid rgb(216, 7, 7);
}
.menu .events .event2 img{
    display: table-caption;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 70px;
    margin-left: 840px;
    margin-top: 50px;
    transition: transform .2s;
}
.menu .events .event2 #eventtitle2{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: rgb(196, 184, 184);
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 38px;
    padding-left: 32px;
    padding-bottom: 18px;
    width: 200px;
    height: 80px;
    margin-top: -25px;
    margin-left: 840px;
}
.menu .events .event2 #time2{
    text-align: center;
    display: inline;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 50px;
    margin-left: 890px;
    padding: 5px;
    background-color: white;
    border-bottom: 6px solid rgb(13, 133, 49);
}
.menu .events .event3 img{
    display: table-caption;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 70px;
    margin-left: 1150px;
    margin-top: -600px;
    transition: transform .2s;
}
.menu .events .event3 #eventtitle3{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: rgb(196, 184, 184);
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 18px;
    width: 200px;
    height: 80px;
    margin-top: -25px;
    margin-left: 1150px;
}
.menu .events .event3 #time3{
    text-align: center;
    display: inline;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 50px;
    margin-left: 1200px;
    padding: 5px;
    background-color: white;
    border-bottom: 6px solid rgb(13, 133, 49);
}
.menu .events .event4 img{
    display: table-caption;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 70px;
    margin-left: 1150px;
    margin-top: 50px;
    transition: transform .2s;
}
.menu .events .event1 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu .events .event2 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu .events .event3 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu .events .event4 img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu .events .event4 #eventtitle4{
    text-decoration: none;
    display:table-caption;
    border: 1px solid gray;
    background-color: rgb(196, 184, 184);
    border-radius: 50px;
    color: rgb(0, 12, 0);
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 18px;
    width: 200px;
    height: 80px;
    margin-top: -25px;
    margin-left: 1150px;
}
.menu .events .event4 #time4{
    text-align: center;
    display: inline;
    border: 3px solid rgb(71, 5, 5);
    border-radius: 50px;
    margin-left: 1200px;
    padding: 5px;
    background-color: white;
    border-bottom: 6px solid rgb(13, 133, 49);
}
.menu .events .event1 #eventtitle1:hover,#eventtitle1:active{
    color: red;
    cursor: pointer;
}
.menu .events .event2 #eventtitle2:hover,#eventtitle2:active{
    color: red;
    cursor: pointer;
}
.menu .events .event3 #eventtitle3:hover,#eventtitle3:active{
    color: red;
    cursor: pointer;
}
.menu .events .event4 #eventtitle4:hover,#eventtitle4:active{
    color: red;
    cursor: pointer;
}
.menu .events #allevents{
    display: table-caption;
    width: 150px;
    color: #e5f5ab;
    margin-left: 1220px;
    text-decoration: none; 
    margin-top: 25px;
    padding-right: 10px;
}
.menu .events #allevents:hover{
    cursor: pointer;
    color: white;
}
/*Tanıtım Videosu Alanı*/
.menu .promotion{
    background-image: url("videoarkaplan.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu .promotion h2{
    padding-top: 7%;
    padding-left: 30%;
    font-size: 30px;
    font-weight: 800;
    color: #fefffd;
}
.menu .promotion a{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-left: 45%;
}
.menu .promotion img{
    transition: transform .2s;
}
.menu .promotion img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
/*Sayılarla Fırat Alanı*/
.menu .withnumberFirat{
    background-color: rgb(41, 41, 40);
}
.menu .withnumberFirat .student img{
    display: grid;
    padding-top: 25px;
    padding-left: 250px;
}
.menu .withnumberFirat .student h4{
    padding-left: 230px;
    padding-bottom: 15px;
    font-size: 30px;
    color: ivory;
}
.menu .withnumberFirat .student h3{
    padding-left: 225px;
    padding-bottom: 25px;
    font-size: 16px;
    color: ivory;
}
.menu .withnumberFirat .student .student2 img{
    display:table-caption;
    padding-left: 440px;
    margin-top: -177px;
}
.menu .withnumberFirat .student .student2 h4{
    padding-left: 425px;
    padding-bottom: 15px;
    font-size: 30px;
    color: ivory;
}
.menu .withnumberFirat .student .student2 h3{
    padding-left: 375px;
    padding-bottom: 25px;
    font-size: 16px;
    color: ivory;
}
.menu .withnumberFirat .graduated img{
    display:table-caption;
    padding-left: 620px;
    margin-top: -150px;
}
.menu .withnumberFirat .graduated h4{
    padding-left: 600px;
    padding-bottom: 15px;
    font-size: 30px;
    color: ivory;
}
.menu .withnumberFirat .graduated h3{
    padding-left: 620px;
    padding-bottom: 25px;
    font-size: 16px;
    color: ivory;
}
.menu .withnumberFirat .academic img{
    display:table-caption;
    padding-left: 760px;
    margin-top: -165px;
}
.menu .withnumberFirat .academic h4{
    padding-left: 755px;
    padding-bottom: 15px;
    font-size: 30px;
    color: ivory;
    margin-top: -5px;
}
.menu .withnumberFirat .academic h3{
    padding-left: 755px;
    padding-bottom: 25px;
    font-size: 16px;
    color: ivory;
    margin-top: -1px;
}
.menu .withnumberFirat .staff img{
    display:table-caption;
    padding-left: 930px;
    margin-top: -160px;
}
.menu .withnumberFirat .staff h4{
    padding-left: 920px;
    padding-bottom: 15px;
    font-size: 30px;
    color: ivory;
}
.menu .withnumberFirat .staff h3{
    padding-left: 905px;
    padding-bottom: 25px;
    font-size: 16px;
    color: ivory;
}
.menu .withnumberFirat .faculty img{
    display:table-caption;
    padding-left: 1080px;
    margin-top: -155px;
}
.menu .withnumberFirat .faculty h4{
    padding-left: 1085px;
    padding-bottom: 15px;
    font-size: 30px;
    color: ivory;
}
.menu .withnumberFirat .faculty h3{
    padding-left: 1078px;
    padding-bottom: 25px;
    font-size: 16px;
    color: ivory;
}
.menu .withnumberFirat .institute img{
    display:table-caption;
    padding-left: 1200px;
    margin-top: -160px;
}
.menu .withnumberFirat .institute h4{
    padding-left: 1215px;
    padding-bottom: 15px;
    font-size: 30px;
    color: ivory;
}
.menu .withnumberFirat .institute h3{
    padding-left: 1200px;
    padding-bottom: 25px;
    font-size: 16px;
    color: ivory;
}
/*footer kısmı*/
.footer{
    /*Arkaplan için*/
    background:
  radial-gradient(hsl(0, 6%, 66%) 4%, hsl(0, 2%, 60%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
  radial-gradient(hsl(0, 2%, 53%) 4%, hsl(0, 1%, 55%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
  radial-gradient(hsla(0, 1%, 54%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
  radial-gradient(hsla(0, 3%, 61%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
  radial-gradient(rgb(129, 127, 127) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
  radial-gradient(rgb(44, 44, 44) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
  radial-gradient(hsla(0, 2%, 28%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
  radial-gradient(hsla(0, 1%, 34%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
  linear-gradient(45deg, hsla(0, 1%, 37%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
  linear-gradient(-45deg, hsla(0, 1%, 28%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
  background-color: rgb(83, 81, 81); 
  background-size: 100px 100px;
}
.footer>img{
    width: 400px;
    height: 150px;
    margin-left: 38%;
    padding-top: 15px;
} 
.footer #HR{
    border: 1px solid rgb(250, 247, 247);
    margin-left: 200px;
    margin-right: 200px;
} 
.footer .footertext a{
    text-decoration: none;
    color: ivory;
}
.footer .footertext a:hover{
    cursor: pointer;
    color: rgb(197, 17, 17);
}
.footer .footertext .text1{
    padding-left: 70px;
    color: ivory;
}
.footer .footertext .text2{
    display: table-caption;
    width: 800px;
    margin-top: -240px;
    padding-left: 370px;
    color: ivory;
}
.footer .footertext .text3{
    display: table-caption;
    width: 1100px;
    margin-top: -185px;
    padding-left: 690px;
    color: ivory;
}
.footer .footertext .text4{
    display: table-caption;
    width: 1300px;
    margin-top: -275px;
    padding-left: 970px;
    color: ivory;
}
.footer .footertext .text5{
    display: table-caption;
    width: 1500px;
    margin-top: -170px;
    padding-left: 1270px;
    color: ivory;
}
.footer .socialmedia a img:hover{
    cursor: pointer;
    background-color: rgb(0, 12, 0);
}
.footer .socialmedia #img1{
    margin-left: 650px;
}
.footer .socialmedia a img{
    width: 35px;
    height: 35px;
}
/*copyright kısmı*/
.end{
    background-color: rgb(219, 215, 215);
    color: rgb(70, 69, 69);
    margin-left: 625px;
    margin-right: 614px;
}



